<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; background: url('https://rawgit.com/haitte/mystudentbank/master/public/images/wov.png');  }
		video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
	}
	</style>
</head>
<body>
	
<video playsinline autoplay muted loop poster="polina.jpg" id="bgvid">
    <source src="polina.webm" type="video/webm">
    <source src="polina.mp4" type="video/mp4">
</video>
<div class="container">

	<div class="page-header text-center">
		<h1>Your Accounts</h1>
		<a href="/transaction" class="btn btn-info btn-sm">View your transactions</a>
		<a href="/" class="btn btn-info btn-sm">Go Home</a>
		<a href="/logout" class="btn btn-danger btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-12">
			<div class="well">
				<h2 class="text-center"><span class="fa fa-user"></span>Your Details</h2>

					<p class="text-center">
						<strong>Welcome, </strong> <%= customer.first_name %><br>
						<strong>Last Name</strong>: <%= customer.last_name %><br>	
						<strong>City</strong>: <%= customer.city %>
					</p>

			</div>
		</div>
	<div class="col-sm-12">
			<div class="well">
				<h3 class="text-center"><span class="fa fa-book"></span>Your Account Details</h3>

					<p class="text-center">
						<strong>Account Number</strong> <%= account.account_number %><br>
						<strong>Account Type</strong>: <%= account.acc_type %><br>
						<h1 class="text-center">Balance : €<%= account.balance %></h1>
					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>